#entire{
    display: flex;
    flex-direction: column;
    height: 100svh;
    overflow: hidden;
}

#main{
    flex:1;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow: hidden;
    margin-top: 10vh; /*header 높이 만큼 내려주기*/
}
content{
    flex:1
}