#entire{
    display:flex;
    flex-direction:column;
    height:100svh;
    overflow:hidden;   /* 이건 유지 가능 */
}

#main{
    flex:1;
    display:flex;
    flex-direction:column;

    width:100%;
    margin-top:10vh;

    overflow-y:auto;
    overflow-x:hidden;
}
content{
    flex:1;
    overflow-y:auto;
}