.padding {
    margin: 3%;

}

.accountName {
    font-size: 36pt;
}

.showPanel {
    padding: 5%;
}

.showPanelTitle {
    font-size: 20pt;
}

.showPanelContent {
    font-size: 16pt;
}

.accountNotice {
    margin-top: 16px;
    font-size: 14pt;
    color: #555555;
}
