.welcomebutton {
    border-radius: 21.65px;
    background-color: #c0392b;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
    padding: 10px 20px;
    text-align: center;
    text-anchor: middle;
    box-shadow:
        0 4px 12px rgba(31, 32, 80, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: background-color 3ms;
    white-space: nowrap;
}

/* 모바일 */
@media (max-width: 768px) {
    .welcomebutton {
        position: fixed;
        top: 10vh; 
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 999; 
        border-radius: 0;
    }

}