:root{
    --mordal_content_height: 10vh;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal_content {
  background: white;
  height: var(--mordal_content_height);
}

input{
    font-size: 1.7rem;
    text-align: left;
    width:350px;
    height: 70px;
    border: 2px solid #ccc;
    border-radius: 12px;
}
.srchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 10px;
}

.srchbtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);  
}
